:root {
    --color-dark: #1F2937;
    --color-text-primary: #F9FAF8;
    --color-text-secondary: #E5E7EB;
    --size-text-logo: 24px;
    --size-text-secondary: 18px;
    --size-text-hero: 48px;
}

* {
    margin: 0;
    font-family: "Roboto";
}

#header {
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 92px;
}

#header > h1 {
    color: var(--color-text-primary);
    font-size: var(--size-text-logo);
}

a {
    font-size: var(--size-text-secondary);
    color: var(--color-text-secondary);
    margin-left: 16px;
}


